<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns="http://ch.qos.logback/xml/ns/logback"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:schemaLocation="http://ch.qos.logback/xml/ns/logback http://ch.qos.logback/xml/ns/logback/logback.xsd"
               scan="true" monitorInterval="300" packagingData="true">

    <property resource="common.properties"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>[%-5p]%d,[%c{0}], %m%n%rEx{3}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>


    <appender name="HEHE_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logback.logDir}/weibo.log</file>

        <encoder>
            <charset>UTF-8</charset>
            <pattern>[%-5p]%d,[%c{3}] - %m%n%rEx{3}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logback.logDir}/holmes.invalidate.metadata.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>3</maxHistory>
        </rollingPolicy>
    </appender>


    <logger name="cn.edu.zju" level="INFO" additivity="true">
        <appender-ref ref="HEHE_APPENDER"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
