<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zju.zjj.dao.WeiboTweetDao">

    <insert id="insert" parameterType="cn.edu.zju.zjj.entity.WeiboTweet">
        insert into weibo_tweet (id, `time`, source, `like`, transfer, comment, content, source_tid, flag,
        uid) VALUES (#{id}, #{time}, #{source}, #{like}, #{transfer}, #{comment},#{content}, #{sourceTid},
         #{flag}, #{uid})
    </insert>
    <select id="exist" resultType="java.lang.Boolean">
        select ifnull(exists(select 1 from weibo_tweet where id = #{id}), 0);
    </select>
    <update id="update" parameterType="cn.edu.zju.zjj.entity.WeiboTweet">
        update weibo_tweet
        <set>
            <if test="time != null">`time`=#{time},</if>
            <if test="source != null">source=#{source},</if>
            <if test="like != null">`like`=#{like},</if>
            <if test="transfer != null">transfer=#{transfer},</if>
            <if test="comment != null">comment=#{comment},</if>
            <if test="content != null">content=#{content},</if>
            <if test="sourceTid != null">source_tid=#{sourceTid},</if>
        </set>
        where id = #{id}
    </update>

    <select id="getById" resultType="cn.edu.zju.zjj.entity.WeiboTweet">
        select * from weibo_tweet where id = #{id}
    </select>
</mapper>