<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zju.zjj.dao.WeiboTweetDao">

    <insert id="insert" parameterType="cn.edu.zju.zjj.entity.WeiboTweet">
        insert into weibo_tweet (id, `time`, source, `like`, transfer, comment, content, source_tid, flag,
        uid) VALUES (#{id}, #{time}, #{source}, #{like}, #{transfer}, #{comment},#{content}, #{sourceTid},
         #{flag}, #{uid})
    </insert>
    <select id="exist" resultType="java.lang.Boolean">
        select ifnull(exists(select 1 from weibo_tweet where id = #{id}), 0);
    </select>
    <update id="update" parameterType="cn.edu.zju.zjj.entity.WeiboTweet">
        update weibo_tweet
        <set>
            <if test="time != null">`time`=#{time},</if>
            <if test="source != null">source=#{source},</if>
            <if test="like != null">`like`=#{like},</if>
            <if test="transfer != null">transfer=#{transfer},</if>
            <if test="comment != null">comment=#{comment},</if>
            <if test="content != null">content=#{content},</if>
            <if test="sourceTid != null">source_tid=#{sourceTid},</if>
        </set>
        where id = #{id}
    </update>

    <select id="getById" resultType="cn.edu.zju.zjj.entity.WeiboTweet">
        select * from weibo_tweet where id = #{id}
    </select>
    <select id="getByUid" resultType="cn.edu.zju.zjj.entity.WeiboTweet">
        select * from weibo_tweet where uid = #{uid} limit 10
    </select>
    <select id="getTotal" resultType="java.lang.Integer">
        select count(*) from weibo_tweet where uid = #{uid}
    </select>
    <select id="getByPage" resultType="cn.edu.zju.zjj.entity.WeiboTweet">
        select * from weibo_tweet where uid = #{uid} limit #{pageSize} offset #{offset}
    </select>
    <select id="getRepost" resultType="cn.edu.zju.zjj.entity.WeiboTweet">
        select * from weibo_tweet where source_tid = #{tid}
    </select>
    <select id="statTime" resultType="cn.edu.zju.zjj.entity.TimeCount">
        select count(*) as `count`, substr(`time`, 6, 8) as t from weibo_tweet where source_tid = #{tweetId} group by t
    </select>
    <select id="getChain" resultType="cn.edu.zju.zjj.entity.Chain">
        select fromTid, `from`, `to`, toTid, weight from(select weibo_tweet.id as fromTid, uid, nickname as `from` from weibo_tweet  left join weibo_user on weibo_tweet.uid = weibo_user.id where weibo_tweet.id = #{tid}) tmp2 LEFT JOIN
  (select wt.source_tid as stid, wt.id as toTid, (wt.transfer + wt.comment + wt.like) as weight,  wu.nickname as `to` from weibo_tweet wt left join weibo_user wu on wt.uid = wu.id where wu.nickname NOTNULL )tmp1 on tmp1.stid = tmp2.fromTid ORDER BY tmp1.weight desc limit 10;
    </select>
</mapper>