<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zju.zjj.dao.WeiboCommentDao">

    <insert id="insert" parameterType="cn.edu.zju.zjj.entity.WeiboComment">
        insert into weibo_comment (id, user_id, content, pub_time, source, tweet_id)
         values (#{id}, #{userId}, #{content}, #{pubTime}, #{source}, #{tweetId})
    </insert>
    <select id="exist" resultType="java.lang.Boolean">
        select ifnull(exists(select 1 from weibo_comment where id = #{id}), 0);
    </select>
    <update id="update" parameterType="cn.edu.zju.zjj.entity.WeiboComment">
        update weibo_comment set user_id = #{userId}, content = #{content}, pub_time = #{pubTime},
         source = #{source}, tweet_id = #{tweetId} where id = #{id}
    </update>

    <select id="statSource" resultType="cn.edu.zju.zjj.entity.SourceType">
        select count(*) as `count`, source from weibo_comment where tweet_id = #{tweetId}  group by source order by `count` desc limit 15
    </select>

    <select id="statTime" resultType="cn.edu.zju.zjj.entity.TimeCount">
        select count(*) as `count`, substr(pub_time, 6, 8) as t from weibo_comment where tweet_id = #{tweetId} group by t
    </select>

    <select id="getByTweetId" resultType="cn.edu.zju.zjj.entity.WeiboComment">
        select * from weibo_comment where tweet_id = #{tweetId}
    </select>

    <select id="getUsers" resultType="cn.edu.zju.zjj.entity.WeiboUser">
        select wu.* from weibo_comment wc left join weibo_user wu on wc.user_id = wu.id where wc.tweet_id = #{tweetId}
    </select>
    <select id="getById" resultType="cn.edu.zju.zjj.entity.WeiboComment">
        select * from weibo_comment where id = #{id}
    </select>

    <select id="getPlace" resultType="java.lang.String">
        select place from weibo_user where id in ( select user_id from weibo_comment where tweet_id = #{tweetId}) and place != 'unknown' and place != '其他';
    </select>
</mapper>